.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.vs
*.idea
*.vscode
*package-lock.json
*.editorconfig
*.gitignore
*.postcssrc.js

# Editor directories and files

*.suo
*.ntvs*
*.njsproj
*.sln
