<!DOCTYPE html>
<html style="height: 100%">
   <head>
       <meta charset="utf-8">
   </head>
   <style>
       body {
        font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
       }
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            margin: 0 auto;
        }
        th, td {
            padding: 5px;
            text-align: center; 
        }
        button{
            color: white;
            font-size: 34px;
            background: #3279BE;
            padding: 25px 194px;
            margin-top: 100px;
            width: 461px;
            height: 97px;
            border-radius: 7px;
            border: none;
        }
        </style>
   <body style="height: 100%; margin: 15px">
       <div id="container" style="height: 60%; margin: 0 auto;"></div>
       <div id="app" style="text-align: center; color: #1D3660; margin-top: 5vh;">
        <h2>Hello World <h2>
                <table style="width:40%; ">
                        <tr>
                          <th>Team Name</th>
                          <th colspan="2">enter a number ( 0 - 5)</th>
                        </tr>
                        <tr>
                          <td>a</td>
                          <td>your input</td>
                          <tr>
                          <td>b</td>
                          <td>your input</td>
                        </tr>
                        <tr>
                          <td>c</td>
                          <td>your input</td>
                        </tr>
                        <tr>
                          <td>d</td>
                          <td>your input</td>
                        </tr>
                        <tr>
                          <td>e</td>
                          <td>your input</td>
                        </tr>
                        <tr>
                          <td>f</td>
                          <td>your input</td>
                        </tr>
                        <tr>
                          <td>g</td>
                          <td>your input</td>
                        </tr>
                      </table>
                      <button onclick="myFunction()">Plot!</button>
        <div/>     
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-gl/echarts-gl.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
       <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ZUONbpqGBsYGXNIYHicvbAbM"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/simplex.js"></script>
       <script type="text/javascript">
  
var dom = document.getElementById("container");
var myChart = echarts.init(dom);
var app = {};
option = null;
option = {
    title: {
        text: 'Sample Report - Hiring'
    },
    tooltip: {},
    legend: {
        data: ['Orange', 'blue']
    },
    radar: {
        // shape: 'circle',
        name: {
            textStyle: {
                color: '#fff',
                backgroundColor: '#999',
                borderRadius: 3,
                padding: [3, 5]
           }
        },
        indicator: [
           { name: 'a', max: 5},
           { name: 'g', max: 5},
           { name: 'f', max: 5},
           { name: 'e', max: 5},
           { name: 'd', max: 5},
           { name: 'c', max: 5},
           { name: 'b', max: 5}
        
        ]
    },
    series: [{
        name: 'radar-hiring',
        type: 'radar',
        //  areaStyle: {normal: {}},
        data : [
            {
                value : [1, 4, 2, 3, 3, 2, 4],
                name : 'Orange'
            },
             {
                value : [1, 2, 1, 5, 4, 3, 2],
                name : 'blue'
            }
        ]
    }]
};;
if (option && typeof option === "object") {
    myChart.setOption(option, true);
}
       </script>
   </body>
 
</html>
